USE [master]
GO
/****** Object:  Database [E_Wallet]    Script Date: 28/09/2022 01:03:52 ******/
CREATE DATABASE [E_Wallet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_Wallet', FILENAME = N'D:\anh trai\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\E_Wallet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'E_Wallet_log', FILENAME = N'D:\anh trai\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\E_Wallet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_Wallet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_Wallet]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] NOT NULL,
	[CurrentBalance] [money] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[CustomerID] [int] NULL,
	[AccountTypeID] [tinyint] NULL,
	[ProviderID] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountType](
	[AccountType_ID] [tinyint] NOT NULL,
	[Description] [varchar](30) NULL,
	[AmountLimit] [money] NOT NULL,
 CONSTRAINT [PK_AccountType] PRIMARY KEY CLUSTERED 
(
	[AccountType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[BankCardID] [bigint] NOT NULL,
	[OwnerName] [varchar](100) NOT NULL,
	[BankID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_BankAccount] PRIMARY KEY CLUSTERED 
(
	[BankCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[BankID] [int] NOT NULL,
	[BankName] [varchar](100) NOT NULL,
	[Hotline] [nchar](12) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Banks] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[PhoneNumber] [char](10) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromotionID] [int] NOT NULL,
	[ProDescription] [varchar](100) NULL,
	[AccountTypeID] [tinyint] NOT NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ProviderID] [int] NOT NULL,
	[ProviderName] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] NOT NULL,
	[ServiceName] [varchar](50) NOT NULL,
	[Description] [varchar](100) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceProvider]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProvider](
	[ServiceID] [int] NOT NULL,
	[ProviderID] [int] NOT NULL,
 CONSTRAINT [PK_ServiceProvider] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC,
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tranfers]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tranfers](
	[TransactionID] [int] NOT NULL,
	[TransactionDateTime] [datetime] NOT NULL,
	[AmountOfTransaction] [money] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[BankCardID] [bigint] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Tranfers] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] NOT NULL,
	[TransactionDateTime] [datetime] NOT NULL,
	[AmountOfTransaction] [money] NOT NULL,
	[ConfirmTime] [datetime] NULL,
	[StatusOfTransaction] [tinyint] NULL,
	[Message] [varchar](50) NULL,
	[AccountID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[TransactionTypeID] [int] NOT NULL,
	[ServiceID] [int] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionType]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionType](
	[TransactionTypeID] [int] NOT NULL,
	[TransactionTypeName] [varchar](50) NOT NULL,
	[TransactionDescription] [varchar](50) NULL,
 CONSTRAINT [PK_TransactionType] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountID], [CurrentBalance], [Status], [CreateDate], [UserName], [Password], [CustomerID], [AccountTypeID], [ProviderID]) VALUES (1, 998000.0000, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), N'vanhuynguyen152', N'Deptraicogisai152', 100000001, 1, NULL)
INSERT [dbo].[Account] ([AccountID], [CurrentBalance], [Status], [CreateDate], [UserName], [Password], [CustomerID], [AccountTypeID], [ProviderID]) VALUES (2, 1977000.0000, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), N'namanhnguyen343', N'Deptraicogisai', 100000002, 1, NULL)
INSERT [dbo].[Account] ([AccountID], [CurrentBalance], [Status], [CreateDate], [UserName], [Password], [CustomerID], [AccountTypeID], [ProviderID]) VALUES (3, 2117000.0000, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), N'thianh22', N'Xinhgai9980', 100000003, 1, NULL)
GO
INSERT [dbo].[AccountType] ([AccountType_ID], [Description], [AmountLimit]) VALUES (1, N'Bronze Member', 50000000.0000)
INSERT [dbo].[AccountType] ([AccountType_ID], [Description], [AmountLimit]) VALUES (2, N'Silver Member', 70000000.0000)
INSERT [dbo].[AccountType] ([AccountType_ID], [Description], [AmountLimit]) VALUES (3, N'Gold Member', 100000000.0000)
GO
INSERT [dbo].[BankAccount] ([BankCardID], [OwnerName], [BankID], [AccountID]) VALUES (9704012304343243, N'Nguyen Van Huy', 1, 1)
INSERT [dbo].[BankAccount] ([BankCardID], [OwnerName], [BankID], [AccountID]) VALUES (9704022304443243, N'Nguyen Thi Anh', 3, 3)
INSERT [dbo].[BankAccount] ([BankCardID], [OwnerName], [BankID], [AccountID]) VALUES (9704032303243243, N'Nguyen Tien Anh', 4, 4)
GO
INSERT [dbo].[Banks] ([BankID], [BankName], [Hotline], [Email]) VALUES (1, N'Vietcombank', N'1900545413  ', N'cskh@vietcombank.com.vn')
INSERT [dbo].[Banks] ([BankID], [BankName], [Hotline], [Email]) VALUES (2, N'BIDV', N'19009247    ', N'bidv247@bidv.com.vn')
INSERT [dbo].[Banks] ([BankID], [BankName], [Hotline], [Email]) VALUES (3, N'Techcombank', N'18006556    ', N'Call_Center@techcombank.com.vn')
GO
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [BirthDate], [Address], [PhoneNumber], [Gender], [Email]) VALUES (100000001, N'Nguyen Van Huy', CAST(N'1998-02-15' AS Date), N'Nam Tu Liem, Ha Noi', N'0354623454', 1, N'vanhuynguyen152@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [BirthDate], [Address], [PhoneNumber], [Gender], [Email]) VALUES (100000002, N'Nguyen Nam Anh', CAST(N'1993-06-11' AS Date), N'Bac Tu Liem, Ha Noi', N'0365452331', 1, N'namanhnguyen343@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [BirthDate], [Address], [PhoneNumber], [Gender], [Email]) VALUES (100000003, N'Nguyen Thi Anh', CAST(N'1994-05-05' AS Date), N'Dong Anh, Ha Noi', N'0654334322', 0, N'thianh22@gmail.com')
GO
INSERT [dbo].[Promotion] ([PromotionID], [ProDescription], [AccountTypeID]) VALUES (1, N'Chao thanh vien moi tang ngay goi qua tri gia 500k khi dang ky tai khoan thanh cong', 1)
INSERT [dbo].[Promotion] ([PromotionID], [ProDescription], [AccountTypeID]) VALUES (2, N'Khuyen mai 5% tren tong hoa don tien dien va nuoc', 2)
INSERT [dbo].[Promotion] ([PromotionID], [ProDescription], [AccountTypeID]) VALUES (3, N'Mien phi nap va rut tien 50 giao dich, goi qua thanh vien vip tri gia 5 trieu dong', 2)
GO
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [PhoneNumber], [Email], [Address], [Fax]) VALUES (1, N'Viettel Telecom', N'18008123', N'cskh@vietteltelecom.com.vn', NULL, NULL)
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [PhoneNumber], [Email], [Address], [Fax]) VALUES (2, N'Mobifone', N'18001090', N'cskh@mobifone.com.vn', NULL, NULL)
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [PhoneNumber], [Email], [Address], [Fax]) VALUES (3, N'Vinafone', N'18008123', N'cskh@vinafone.com.vn', NULL, NULL)
GO
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Description]) VALUES (1, N'Nap the dien thoai', NULL)
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Description]) VALUES (2, N'Dat ve may bay', NULL)
INSERT [dbo].[Service] ([ServiceID], [ServiceName], [Description]) VALUES (3, N'Dat ve xem phim', NULL)
GO
INSERT [dbo].[ServiceProvider] ([ServiceID], [ProviderID]) VALUES (1, 1)
INSERT [dbo].[ServiceProvider] ([ServiceID], [ProviderID]) VALUES (1, 2)
INSERT [dbo].[ServiceProvider] ([ServiceID], [ProviderID]) VALUES (1, 3)
GO
INSERT [dbo].[Tranfers] ([TransactionID], [TransactionDateTime], [AmountOfTransaction], [Status], [BankCardID], [AccountID]) VALUES (1, CAST(N'2022-09-28T00:59:32.897' AS DateTime), 100000.0000, 1, 9704012304343243, 1)
INSERT [dbo].[Tranfers] ([TransactionID], [TransactionDateTime], [AmountOfTransaction], [Status], [BankCardID], [AccountID]) VALUES (2, CAST(N'2022-09-28T01:02:09.527' AS DateTime), 200000.0000, 1, 9704022304443243, 2)
INSERT [dbo].[Tranfers] ([TransactionID], [TransactionDateTime], [AmountOfTransaction], [Status], [BankCardID], [AccountID]) VALUES (3, CAST(N'2022-09-28T01:02:09.530' AS DateTime), 300000.0000, 1, 9704032303243243, 3)
GO
INSERT [dbo].[Transactions] ([TransactionID], [TransactionDateTime], [AmountOfTransaction], [ConfirmTime], [StatusOfTransaction], [Message], [AccountID], [ReceiverID], [TransactionTypeID], [ServiceID]) VALUES (1, CAST(N'2022-09-20T00:01:52.000' AS DateTime), 20000.0000, CAST(N'2022-09-20T00:02:20.000' AS DateTime), 1, NULL, 1, 2, 1, NULL)
INSERT [dbo].[Transactions] ([TransactionID], [TransactionDateTime], [AmountOfTransaction], [ConfirmTime], [StatusOfTransaction], [Message], [AccountID], [ReceiverID], [TransactionTypeID], [ServiceID]) VALUES (2, CAST(N'2022-09-20T00:01:55.000' AS DateTime), 50000.0000, CAST(N'2022-09-20T00:02:23.000' AS DateTime), 1, NULL, 2, 3, 1, NULL)
INSERT [dbo].[Transactions] ([TransactionID], [TransactionDateTime], [AmountOfTransaction], [ConfirmTime], [StatusOfTransaction], [Message], [AccountID], [ReceiverID], [TransactionTypeID], [ServiceID]) VALUES (3, CAST(N'2022-09-20T00:02:50.000' AS DateTime), 300000.0000, CAST(N'2022-09-20T00:03:01.000' AS DateTime), 1, NULL, 7, 8, 1, NULL)
GO
INSERT [dbo].[TransactionType] ([TransactionTypeID], [TransactionTypeName], [TransactionDescription]) VALUES (1, N'Chuyen Tien', NULL)
INSERT [dbo].[TransactionType] ([TransactionTypeID], [TransactionTypeName], [TransactionDescription]) VALUES (2, N'Thanh toan', NULL)
INSERT [dbo].[TransactionType] ([TransactionTypeID], [TransactionTypeName], [TransactionDescription]) VALUES (3, N'Rut tien', NULL)
GO
/****** Object:  Index [unq_bankcard_accountid]    Script Date: 28/09/2022 01:03:52 ******/
ALTER TABLE [dbo].[BankAccount] ADD  CONSTRAINT [unq_bankcard_accountid] UNIQUE NONCLUSTERED 
(
	[BankCardID] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_AccountType] FOREIGN KEY([AccountTypeID])
REFERENCES [dbo].[AccountType] ([AccountType_ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_AccountType]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Customer]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Provider] FOREIGN KEY([ProviderID])
REFERENCES [dbo].[Provider] ([ProviderID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Provider]
GO
ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD  CONSTRAINT [FK_BankAccount_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[BankAccount] CHECK CONSTRAINT [FK_BankAccount_Account]
GO
ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD  CONSTRAINT [FK_BankAccount_Bank] FOREIGN KEY([BankID])
REFERENCES [dbo].[Banks] ([BankID])
GO
ALTER TABLE [dbo].[BankAccount] CHECK CONSTRAINT [FK_BankAccount_Bank]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_AccountType] FOREIGN KEY([AccountTypeID])
REFERENCES [dbo].[AccountType] ([AccountType_ID])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_Promotion_AccountType]
GO
ALTER TABLE [dbo].[ServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProvider_Provider] FOREIGN KEY([ProviderID])
REFERENCES [dbo].[Provider] ([ProviderID])
GO
ALTER TABLE [dbo].[ServiceProvider] CHECK CONSTRAINT [FK_ServiceProvider_Provider]
GO
ALTER TABLE [dbo].[ServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProvider_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[ServiceProvider] CHECK CONSTRAINT [FK_ServiceProvider_Service]
GO
ALTER TABLE [dbo].[Tranfers]  WITH CHECK ADD  CONSTRAINT [FK_Tranfers_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Tranfers] CHECK CONSTRAINT [FK_Tranfers_Account]
GO
ALTER TABLE [dbo].[Tranfers]  WITH CHECK ADD  CONSTRAINT [FK_Tranfers_BankAccount] FOREIGN KEY([BankCardID])
REFERENCES [dbo].[BankAccount] ([BankCardID])
GO
ALTER TABLE [dbo].[Tranfers] CHECK CONSTRAINT [FK_Tranfers_BankAccount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transaction_Account]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Receiver] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transaction_Receiver]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transaction_Service]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_TransactionType] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionType] ([TransactionTypeID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transaction_TransactionType]
GO
/****** Object:  Trigger [dbo].[trig_accountid_receiverid]    Script Date: 28/09/2022 01:03:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trig_accountid_receiverid]
ON [dbo].[Transactions]
AFTER INSERT -- Tuong duong voi Before
AS  
BEGIN
	Declare @accountid int 
	select @accountid = AccountID from inserted
	Declare @receiverid int
	select @receiverid = ReceiverID from inserted
	Declare @transactiontypeid int
	select @transactiontypeid = TransactionTypeID from inserted
	if(@accountid = @receiverid and @transactiontypeid = 1) 
		BEGIN
			print 'Khong the gui tien den chinh minh trong giao dich'
		rollback
		END
END;
GO
ALTER TABLE [dbo].[Transactions] ENABLE TRIGGER [trig_accountid_receiverid]
GO
/****** Object:  Trigger [dbo].[trig_check_balance]    Script Date: 28/09/2022 01:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trig_check_balance]
ON [dbo].[Transactions]
AFTER INSERT -- Tuong duong voi Before
AS  
BEGIN
	Declare @amount money
	select @amount = AmountOfTransaction from inserted
	Declare @accountid int 
	select @accountid = AccountID from inserted
	Declare @balance money
	select @balance = CurrentBalance from Account where AccountID = @accountid
	Declare @transactionid int
	select @transactionid = TransactionID from inserted
	IF(@balance > @amount)  
		BEGIN
			UPDATE Transactions SET StatusOfTransaction = 1 WHERE TransactionID = @transactionid
			Declare @receiverid int
			select @receiverid = ReceiverID from inserted
			UPDATE Account SET CurrentBalance = CurrentBalance - @amount WHERE AccountID = @accountid
			UPDATE Account SET CurrentBalance = CurrentBalance + @amount WHERE AccountID = @receiverid
		END
	ELSE
		BEGIN
			UPDATE Transactions SET StatusOfTransaction = 0 WHERE TransactionID = @transactionid
			PRINT 'Giao dich that bai vi so du khong du!'
		END
END;
GO
ALTER TABLE [dbo].[Transactions] ENABLE TRIGGER [trig_check_balance]
GO
USE [master]
GO
